.postsHeading {
  margin: 2vmax auto;
  width: 15vw;
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}

.postTogg {
  background-color: #13aa52;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  text-decoration: none;
  transition: all 0.5s;
}

.postToggText {
  position: absolute;
  right: -180px; /* Position the text outside the circle */
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: left 0.5s; /* Add a transition for smooth movement */
}

.postTogg:hover .postToggText {
  left: -90px; /* Move the text inside the circle on hover */
  color: rgb(81, 81, 81);
}

.postTogg:hover {
  background-color: #0f8f42;
  transform: scale(1.1);
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchBox input[type="text"] {
  flex: 1; /* Take up available space */
  padding: 10px 50px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.searchBox input[type="submit"] {
  padding: 10px 20px;
  background-color: #13aa52;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.searchBox input::placeholder {
  color: #888;
}

.searchBox input[type="submit"]:hover {
  background-color: #128f40;
}

.postFound {
  margin: 2vmax auto;
  width: 17vw;
  padding: 1.3vmax;
  color: rgba(0, 0, 0, 0.6);
  font: 500 1.3vmax "Roboto";
  text-align: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 25vh;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #13aa52;
}

.pageLinkActive {
  color: white;
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

.topicBox {
  padding: 1%;
  border: 1px solid rgba(0, 0, 0, 0.61);
  border-radius: 4px;
}

.topic-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 0.9vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}

.topic-link:hover {
  color: #13aa52;
}

/* Add this style to create the search results container */
.searchResultsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 29%;
  max-height: 15vmax;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  top: 50px; 
  left: 35.1vmax;
  margin-top: 18vmax;
}

/* Style for each search result item */
.searchResultItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchResultItem:last-child {
  border-bottom: none; /* Remove border for the last item */
}

/* Style for the selected result item (optional) */
.searchResultItem.selected {
  background-color: #f5f5f5;
}



@media screen and (max-width: 768px) {
  .postsHeading {
    font: 500 2vmax "Roboto";
  }

  .filterBox {
    padding-top: 2%;
    width: 20vmax;
    position: static;
    margin: auto;
    align-items: center;
  }

  .centered-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }

  .topic-link {
    font: 400 1.8vmax "Roboto";
  }
}
