.profileContainer {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
}

.infoContainer {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  padding: 3rem 0;
}

.infoContainer > h1 {
  color: rgba(31, 31, 31, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
  width: 50%;
  padding: 1.5rem;
  margin: auto;
}

.infoSummary {
  margin: 2rem 0;
}

.infoSummary > div {
  display: flex;
  background-color: white;
  justify-content: center;
}

.infoSummary > div > p {
  background-color: rgba(77, 125, 228, 0.89);
  color: white;
  font: 300 1.3rem "Roboto";
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  margin: 0 2rem;
}

.infoSummaryBox2 > div {
  color: rgb(71, 68, 68);
  font: 300 2rem "Roboto";
  text-align: center;
  background-color: rgb(255, 233, 174);
  text-decoration: none;
  padding: 1.5rem;
  width: 23vmax;
  height: 6.5vmax;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoSummaryBox2 > div:first-child {
  background-color: #1ccf67;
  color: rgb(255, 255, 255);
}

.infoSummaryBox2 > div:last-child {
  background-color: #ffcd58;
  color: rgb(255, 255, 255);
}

.flexBox {
  display: flex;
  align-items: center;
}

.profImg {
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 1.7vmax;
}


.profImg:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .profileContainer {
    grid-template-columns: 1fr;
  }

  .infoContainer {
    border-left: none;
  }

  .infoSummary > div > p {
    margin: 0;
  }

  .infoSummaryBox2 > div {
    width: 50%;
    padding: 0.5rem;
    margin-top: 2rem;
    font: 300 0.9rem "Roboto";
  }
}


















































/* .profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont {
  background-color: #21313c;
  margin-top: 5vmax;
}

.profileContainer > div:first-child > h1 {
  color: rgba(255, 255, 255, 0.829);
  font: 500 1.6vmax "Roboto";
  padding: 0.3vmax;
  transform: translateX(42vmax) translateY(-13vmax);
}

.flexBox {
  display: flex;
  align-items: center;
}

.profImg {
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  margin-right: 10px;
}

.flexBox p {
  padding-top: 1.7vmax;
}

.profImg:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: #13aa52;
  font: 400 1vmax "Roboto";
  color: #ffffff;
  text-decoration: none;
  padding: 0.6vmax;
  transform: translateX(42vmax) translateY(-16vmax);
  width: 30%;
  margin: 4vmax;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: #148844;
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.contsub {
  background-color: rgba(255, 255, 255, 0.907);
  padding: 1vmax;
  padding-right: 15.2vmax;
  border-radius: 4px;
}

.btns {
  padding-right: 1vmax;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font: 400 1.2vmax "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1.1vmax Lucida Sans;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: #13aa52;
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
} */
/* 
@media screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    background-color: white;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }

  .flexBox p {
    padding-top: 1vmax;
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax Lucida Sans;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Roboto";
    padding: 1vmax;
    margin: 2vmax 0;
  }
} */
