.homepage1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  flex: 1;
  padding: 20px;
}

.banner > h1 {
  margin: 5vmax 5vmax 5px 5vmax;
  font: 500 3.5vmax "Roboto";
}

.banner > p {
  margin: 1vmax 5vmax 0 5vmax;
  font: 300 2.5vmax "Lucida Sans";
  color: #13aa52;
}

.banner > p > img {
  width: 14vmax;
}

.lorem {
  margin: 1vmax 5vmax 0 5vmax;
  font: 100 1vmax "Lucida Sans";
}

.homepage2 {
  flex: 1;
  padding-left: 20px;
  background-color: #21313c;
}

.homepage2 > img {
  width: 38vmax;
  padding-left: 3.5vmax;
  padding-top: 2vmax;
}

.buttons {
  display: flex;
  padding-left: 60px;
}

.buttons > a {
  background-color: #13aa52;
  color: white;
  padding: 0.9vmax 2.9vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 1vmax;
  border: 0.1vmax solid #13aa52;
  border-radius: 5px;
  transition: all 0.5s;
}

.buttons > a:hover {
  background-color: white;
  color: #13aa52;
}

.homepage3 {
  background-color: #21313c;
  color: white;
  padding-top: 3vmax;
}

.homepage3 > h1 {
  color: #13aa52;
  font: 500 2.8vmax "Roboto";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage3-sub {
  display: flex;
  font: 200 1.4vmax "Lucida Sans";
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.7vmax;
}

.homepage3-sub > p {
  padding-right: 2.2vmax;
}

.homepage3-sub > p:last-child {
  padding-right: 0;
}

.homepage3-sub1 > h1 {
  color: #dcdcdc;
  font: 500 2.8vmax "Lucida Sans";
  margin: 5vmax 5vmax 0px 5vmax;
}

.homepage3-sub1 > p {
  color: #13aa52;
  font: 500 2vmax "Roboto";
  margin: 0vmax 5vmax 5px 5vmax;
}

.homepage4 {
  padding-top: 2vmax;
  padding-bottom: 4vmax;
  /* border-bottom-left-radius: 15px; */
}

.homepage4 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border: 5px solid #13aa52;
  border-radius: 15px 50px;
}

.homepage4-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vmax;
}

.feature-box {
  flex: 1;
  padding: 20px;
  border: 2px solid #13aa52;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  min-height: 10vmax;
}

.feature-box h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.homepage5 > {
  background-color: #ffffff;
}

.homepage5 > h1 {
  color: #21313c;
  font: 600 2.8vmax "Roboto";
  margin: 0vmax 5vmax 5px 5vmax;
  padding-top: 2vmax;
}

.homepage5 > h2 {
  color: #13aa52;
  font: 300 2vmax "Roboto";
  margin: 0vmax 5vmax 5px 5vmax;
}

.homepage5 > p {
  color: #565656;
  font: 100 1.2vmax "Lucida Sans";
  margin: 0vmax 5vmax 5px 5vmax;
}

.last-btn {
  padding-top: 1vmax;
}

.homepage5 > h1:last-child {
  padding-top: 0vmax;
}

#icon {
  animation: moveIcon 2s linear infinite;
}

@keyframes moveIcon {
  0% {
    transform: translateX(0); /* Start position */
  }
  50% {
    transform: translateX(15px); /* Midway position to the right */
  }
  100% {
    transform: translateX(0); /* End position, back to the starting point */
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmax auto;
  width: 96vw;
  flex-wrap: wrap;
  max-width: 100%;
}

.containerRes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmax auto;
  width: 25vw;
  flex-wrap: wrap;
  max-width: 100%;
}

.caroselClass {
  width: 100%;
}

.preContainer > h2 {
  background-color: #21313c;
  font: 500 1.2vmax "Roboto";
}

.preContainer > h2 {
  margin: 2vmax auto;
  width: 15vw;
  padding: 2vmax;
  color: #f2f2f2;
  font: 500 1.5vmax "Roboto";
  text-align: center;
  display: block;
  width: 100%;
}

.postCard {
  width: 28vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.postCard > img {
  width: 28vmax;
  max-height: 15vmax;
}

.postCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.postCardSpan {
  margin: 0.5vmax;
  font: 300 0.8vmax "Roboto";
}

.postCard > p {
  font-family: "Roboto";
  font-size: 1.4vmax;
  font-weight: 600;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  align-items: center;
  text-align: center;
}

.postCard > span {
  margin: 0.5vmax;
  color: #13aa52;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.postCard > h5 {
  margin: 0.5vmax;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2vmax;
}

.postCard > h5 > a {
  color: #00684a;
  text-decoration: none;
}

.postCard > h5 > a > img {
  width: 1.2vmax;
  height: 1.2vmax;
  border-radius: 50%;
  margin-right: 2px;
}

.postCard > h5 > a:hover {
  color: #0f8f42;
  text-decoration: underline;
}

.postCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

.postCard > button {
  background-color: #13aa52;
  color: white;
  padding: 0.9vmax 2.9vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 1vmax;
  border: 0.1vmax solid #13aa52;
  border-radius: 5px;
  transition: all 0.5s;
}

.cmntLink:hover {
  background-color: white;
  color: #13aa52;
}

.postCardBtn {
  display: flex;
}

.readLink {
  background-color: #00684a;
  color: white;
  padding: 0.9vmax 2.2vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 1vmax;
  border: 0.1vmax solid #00684a;
  border-radius: 5px;
  transition: all 0.5s;
  align-items: center;
  text-align: center;
}

.readLink:hover {
  background-color: white;
  color: #00684a;
}

.homeComm {
  display: flex;
  justify-content: center;
}

.homeComm > a {
  background-color: #21313c;
  color: #eaeaea;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 1vmax;
  border: 0.1vmax solid #21313c;
  border-radius: 4px;
  transition: all 0.5s;
}

.homeComm > a:hover {
  background-color: white;
  color: #13aa52;
}

.homeCommUser {
  display: flex;
  justify-content: center;
}

.homeCommUser > a {
  background-color: #21313c;
  color: #eaeaea;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 1vmax;
  border: 0.1vmax solid #13aa52;
  border-radius: 4px;
  transition: all 0.5s;
}

.homeCommUser > a:hover {
  background-color: white;
  color: #13aa52;
}

/* Back top Toggle */
.back-to-top-button {
  background-color: #13aa52;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  display: none; /* Initially hide the button */
}

.back-to-top-button:hover {
  background-color: #0f8f42;
  transform: scale(1.1);
}

/* Show the button when the user scrolls down */
body.show-back-to-top .back-to-top-button {
  display: block;
}

@media screen and (max-width: 768px) {
  .homepage2 {
    display: none;
  }

  /* .homepage1 {
    flex-direction: column;
    padding: 20px;
  }

  .banner > h1 {
    font-size: 3vmax;
    text-align: center;
  }

  .banner > p {
    font-size: 2vmax;
    text-align: center;
  }

  .banner > p > img {
    width: 12vmax;
  }

  .lorem {
    font-size: 1.5vmax;
    text-align: center;
  }

  .buttons {
    flex-direction: column;
    padding-left: 0;
    text-align: center;
    margin-top: 1vmax;
  }

  .buttons > a {
    margin: 1vmax 0;
  }

  .homepage3 {
    padding-top: 2vmax;
  }

  .homepage3 > h1 {
    font-size: 2.5vmax;
    text-align: center;
  }

  .homepage3-sub {
    flex-direction: column;
    padding: 1.5vmax 0;
    text-align: center;
  }

  .homepage3-sub > p {
    padding-right: 0;
    text-align: center;
  }

  .homepage3-sub1 > h1 {
    font-size: 2.5vmax;
    margin: 2vmax 0 0 0;
  }

  .homepage3-sub1 > p {
    font-size: 2vmax;
    margin: 0 0 2vmax 0;
  }

  .homepage4 > img {
    width: 100%;
    border-radius: 0;
    border: none;
  }

  .homepage5 > h1 {
    font-size: 2.5vmax;
    margin: 2vmax 0 0 0;
    padding-top: 1vmax;
  }

  .homepage5 > h2 {
    font-size: 2vmax;
    margin: 0 0 2vmax 0;
  }

  .homepage5 > p {
    font-size: 1.2vmax;
    margin: 0 0 2vmax 0;
  }

  .last-btn {
    padding-top: 1vmax;
  }

  .homepage5 > h1:last-child {
    padding-top: 0;
  } */
}
